.body {
  background-color: #617f4d;
}
.main-container {
  max-width: 1200px;   /* batas lebar maksimal */
  margin: 0 auto;      /* auto = center */
  padding: 0 20px;     /* jarak kiri kanan biar ga mepet */
  background-color:#ffffff
}
hr {
  margin: 40px 0;
  border: none;
  border-top: 1px solid #ccc;
}



/*1. MAIN PAGE STYLE*/

/* HEADER SECTION */
.header {
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navigation {
  margin: 0 15px;
  text-decoration: none;
  color: #617f4d;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

/* GREETING */
.greeting1 {
  color: #617f4d;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 1000;
  line-height: 1.0;
  margin: 5px 5px;
  text-align: center;
}
.greeting2 {
  color: #617f4d;
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
  font-weight: 1000;
  line-height: 1.0;
  margin: 5px 5px;
  text-align: center;
}
.greeting-info {
  color: #26352d;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
  text-align: center;
}

/* SLIDESHOW */
.slideshow-container {
    width: 100%;
    max-width: 1366px;    /* ukuran gambar */
    height: 578px;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;     /* biar gambarnya full */
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}


/* HQ */
.title-hq {
  color: #617f4d;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
}
.hq-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 30px;
}
.hq-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #617f4d;
}
.hq-item p {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 1000;
  margin-top: 10px;
  color:#617f4d
}

/* CONTACT */
.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}
.contact-left, .contact-right {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #617f4d;
}
.contact-left h2 {
    color: #617f4d;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
}
.contact-left p {
    margin-bottom: 15px;
    font-size: 22px;
    text-align: left;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}
.contact-right label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
}
.contact-right input,
.contact-right textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #888;
    border-radius: 6px;
}
.gender {
    display: flex;
    justify-content: center; 
    gap: 20px;
    margin-top: 5px;
}
.gender label {
    font-weight: normal;
    text-align: center;
}
button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #333;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    color: #1a2a0f;
}


/* FOOTER */
.footer {
  background-color: #617f4d;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}


/*2. ABOUT PAGE STYLE*/
.about-title {
  color: #617f4d;
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}
.about-content {
  color: #333333;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: left;
  justify-content: center;
  line-height: 1.5;
}
.about-container {
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
}

/* GOALS */
.goal-title {
  color: #617f4d;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}   
.goal-subtitle {
  color: #617f4d;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
}
.about-content {
  color: #333333;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
  text-align: left;
  justify-content: center;
}
.gambar-baru {
  display: block;
  margin: 0 auto;
}

/* 3. PORTOFOLIO PAGE STYLE*/
.porto-title {
  color: #617f4d;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}
.porto-content {
  color: #333333;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
  text-align: left;
  justify-content: center;
}
.gallery-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px; /* jarak antar baris */
}

.gallery-row img {
  width: 400px;         
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}






